/* ----- CSS ----- */
#content table {
	width: 748px;
	border: 1px solid #BFC0C0;
	margin-bottom: 10px;
	float: left;
}
#content table.fields {
	width: 748px;
	border: 0;
    border-top: 1px solid #BFC0C0;
	margin-bottom: 10px;
	float: left;
}

#content table.fields td.first {
    border-left: 1px solid #BFC0C0;
}

#content table.fields td.last {
    border-right: 1px solid #BFC0C0;
}

#content table .top {
	background-color: #344A53;
	color: #FFFFFF;
}

#content table .top td {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
}

#content table tr td {
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	height: 30px;
	padding-left: 10px;
	border-left: 1px solid #D1D3D6;
}

#content table tr th {
    padding-left: 10px;
    padding-bottom: 10px;
}

#content table .first {
	width: 170px;
	border-left: none;
}

#content table .first input {
	padding-left: 5px;
	width: 155px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #D1D3D6;
}

#content table .second {
	width: 350px;
}

#content table .second input {
	padding-left: 5px;
	width: 330px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #D1D3D6;
}

#content table .third {
	width: 128px;
}

#content table .third a {
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	background-color: #344A53;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	margin-top: 10px;
}

#content table .last {
	width: 45px;
	text-align: center;
	vertical-align: middle;
	padding: 0 5px;
}

#content .rules .lastcan {
	width: 35px;
	height: 30px;
	padding-left: 20px;
	padding-top: 14px;
	vertical-align: middle;
}

*+html #content .rules .lastcan {
	width: 35px;
	height: 30px;
	float: left;
	padding-left: 20px;
	padding-top: 12px;
}

#content table .top td {
	height: 30px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: bold;
        vertical-align: middle;
}

#content table .grey td {
	background-color: #F0F0F0;
	height: 30px;
}

#content table input {
	background-color: #FFFFFF;
}

#content table input.cbox {
	background-color: transparent;
	border: 0;
}

#content table .white td {
	background-color: #FFFFFF;
	height: 30px;
}

#content table .second a {
	font-size: 14px;
	color: #2E2D2E;
}

#content table .third select {
	width: 140px;
	height: 30px;
	background-color: #FFFFFF;
	padding-left: 5px;
	margin-top: 10px;
	border: 1px solid #D1D3D6;
}

#content .drop {
	width: 380px;
	float: right;
	border: 1px solid #000000;
}

#content .drop h4 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background-color: #344A53;
}

#content .drop table {
	width: 380px;
	margin: 0;
}

#content .drop table td {
	padding: 0 5px;
	width: 95px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: normal;
	color: #2E2D2E;
}

#content .drop table tr {
	height: 30px;
}

#content .drop table .two {
	width: 155px;
}

/* ----- Edit rules css ----- */
#content .rules table {
	width: 980px;
}

#content .rules table td {
	width: 197px;
	vertical-align: middle;
}

#content .rules table .first {
	width: 80px;
}

#content .rules table .last {
	width: 40px;
	vertical-align: middle;
}

#content .rules table .active, #content .caps table .active {
	padding-left: 18px;
	background-image: url(../images/active-span-bcg.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 14px;
	font-weight: normal;
}

#content .rules table .inactive, #content .caps table .inactive {
	padding-left: 18px;
	background-image: url(../images/span-inactive.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 14px;
	font-weight: normal;
}

#content .rules table select {
	width: 180px;
	height: 26px;
	padding: 3px 3px;
}

#content .rules table .if {
	margin-right: 4px;
	font-weight: normal;
}

#content .rules table input {
	padding-left: 5px;
	width: 170px;
	background-color: #FFFFFF;
	border: 1px solid #BCBDBD;
	height: 22px;
	padding: 1px 3px;
	line-height: 22px;
}

#content .rules table input.cbox {
	background-color: transparent;
	border: 0;
}
/* ----- SPECIAL CLASSES ----- */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

#content table select {
    border-radius: 4px;
}

#content table .custom-combobox input {
    border-radius: 4px;
    border-right: none;
}
#content table .custom-combobox a {
    border-left: none;
}
#content table .custom-combobox a:hover {
    border-color: rgb(204, 204, 204);
}
ul.ui-autocomplete.ui-menu {
    font-family: "Arial";
    font-size: 14px;
    background-color: white; 
    background-image: none;
}
ul.ui-autocomplete.ui-menu li {
    font-size: 14px;
}
ul.ui-autocomplete.ui-menu li a.ui-state-focus {
    border: none;
    background-color: #3E7DF3;
    background-image: none;
    color: white;
    font-weight: normal;
    border-radius: 0px;
}

#content table .custom-combobox a .ui-button-icon-primary.ui-icon-triangle-1-s {
    background-position: 0px 0px; 
    background-image: url(../css/ui-lightness/images/custom-combo-box.png);
}
body.ios #content table .custom-combobox a .ui-button-icon-primary.ui-icon-triangle-1-s {
    background-position: -16px 0px; 
}

#ping-post-tab {
    float: right;
}

#ping-post-tab ul li {
    float: left;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 20px;
    border: 2px solid #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

#ping-post-tab ul li:not(.current):hover {
    background-color: #344A53;
}
#ping-post-tab ul li:not(.current){
    background-color: #f6841f;
}
#ping-post-tab ul li.current {
    background-color: #344A53;
    border-color: #f6841f;
}
.breadcrumb {
    width: 740px;
    height: 40px;
}

#filter-screen .breadcrumb {
    width:920px;
}

#copy-field {
    padding-left:15px;
    padding-right:15px;
}

#content table.fields input, .rules input {
    border-radius: 4px;
}