#content .activity .top {
  background-color: #344A53;
  color: #FFFFFF;
}
#content .activity .top td {
  height: 36px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 5px;
}

#content .activity td {
    padding-left: 10px;
    height: 30px;
    vertical-align: middle;
    border-left: 1px solid #BFC0C0;
}

#content .activity td.first {
    border-left: none;
    width: 13%;
}

#content .activity td.last {
    width: 13%;
}

#content .activity .white {
  background-color: #FFFFFF;
}

#content .activity .grey {
  background-color: #F0F0F0;
}

#content .activity #sub_account_table tr:not(.top):hover {
  background-color: #eee7c7;
}

#content .activity table{
    border: 1px solid #BFC0C0;
}
#content .activity table#objects_table td {
    vertical-align: top;
}

#submitButton, #cancelButton {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #1D353F;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 20px;
    margin-right: 5px;
    margin-top: 20px;
    cursor: pointer;
}

#submitButton:hover, #cancelButton:hover {
    background-color: #f6841f;
}

#content .setup {
  width: 630px;
  padding: 10px;
  background-color: #F0F0F0;
  border: 1px solid #BCBDBD;
}

#content .setup .label {
    width: 200px; 
    float: left;
    padding-top: 5px;
    font-weight: bold;
}

#content .setup input {
    width: 400px; 
}

#content #revoke_reporting_access, #revoke_campaign_control, #revoke_partner_control, 
#revoke_success_leads, #revoke_failed_leads, #revoke_skipped_leads {
    width: 20px !important;
}

#content form#add-subaccount-form button {
    height: 36px; 
}

#content form#add-subaccount-form .error {
    color: red;
    margin-bottom: 10px;
    height: 30px;
    padding: 10px 0px 0px 20px;
    width: 630px;
}

#content .leftbutton {
  width: 204px;
  height: 41px;
  float: left;
  display: block;
  border: 1px solid #BCBDBD;
  margin-top: 20px;
}

#content tr td.last a {
  text-decoration: none;
  font-size: 13px;
  margin-right: 12px;
}
#content tr td.last a img {
  margin-bottom: -4px;
}

#content tr:not(.top) td {
  font-size: 14px;
}

#content input {
    border-radius: 4px;
}