/* ----- CSS ----- */
#content .activity {
	width: 1151px;
}

#content .activity table {
	width: 1149px;
	border: 1px solid #BFC0C0;
	margin-bottom: 10px;
}

#content .activity .top {
	background-color: #344A53;
	color: #FFFFFF;
}

#content .activity .top td {
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #FFFFFF;
}

#content .activity .white {
	background-color: #FFFFFF;
}

#content .activity .white td {
	height: 30px;
}

#content .activity .grey {
	background-color: #F0F0F0;
	height: 30px;
}

#content .activity .grey td {
	height: 30px;
}

#content .activity tr {
	border-bottom: 1px solid #BCBDBD;
}

#content .activity td {
	border-left: 1px solid #BFC0C0;
	padding-left: 10px;
	font-size: 14px;
	color: #333333;
	vertical-align: middle;
}

#content .activity table td.last {
    width: 470px !important;
}

#content .activity tr td.last a {
    text-decoration: none;
    font-size: 13px;
    margin-right: 12px;
}

#content .activity tr td.last a:hover {
    text-decoration: underline;
}

#content .activity tr td.last a img {
    margin-bottom: -4px;
    border: 2px solid transparent;
}

#content .activity tr td.last a:hover img {
    background-color: #f6851f;
    border: 2px solid #f6851f;
}

#content .activity tr .first {
	border-left: none;
    width: 729px;
}

#content .activity .active {
	padding-left: 18px;
	background-image: url(../images/active-span-bcg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#content .activity .inactive {
	padding-left: 18px;
	background-image: url(../images/span-inactive.png);
	background-repeat: no-repeat;
	background-position: left center;
}

/* ----- SPECIAL CLASSES ----- */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
